# ========================
# Node / Nest.js backend
# ========================
node_modules/
dist/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# VS Code
.vscode/

# Mac
.DS_Store

# ========================
# Flutter / Dart mobile
# ========================
# Dart / Flutter
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.packages
.pub-cache/
build/
ios/Flutter/Flutter.podspec
**/Generated.xcconfig

# Android
*.iml
.gradle/
local.properties
.cxx/
captures/
.externalNativeBuild/
*.apk
*.ap_
*.so
*.aar

# Flutter build outputs
build/
